# Kafka Configuration
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_TOPIC=user-events
KAFKA_CONSUMER_GROUP=pipeline-consumer-group

# PostgreSQL Configuration
DB_HOST=localhost
DB_PORT=5433
DB_NAME=pipeline_db
DB_USER=pipeline_user
DB_PASSWORD=pipeline_pass

# Pipeline Configuration
PRODUCER_INTERVAL_SECONDS=1
BATCH_SIZE=10
